  body,
  html {
    margin:0;
    padding:0;
    color:#000;
     background:#e0e0e0;
  }
  #wrap {
    width:70%;
    margin:0 auto;
    background:#fff;
    border: 1px solid black;
  }
  #header {
    padding:5px 10px;
  }
  h1 {
      margin:0;
    }
    
 /** MENU STARTS**/
 #nav{
   border:1px solid #ccc;
   border-width:1px 0;
   list-style:none;
   margin:0;
   padding:0;
   text-align:center;
}
#nav li{
   position:relative;
   display:inline;
}
#nav a{
   display:inline-block;
   padding:10px;
}
#nav ul{
   position:absolute;
   /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
   left:-9999px;
   margin:0;
   padding:0;
   text-align:left;
}
#nav ul li{
   display:block;
}
#nav li:hover ul{
   left:0;
}
#nav li:hover a{
   text-decoration:underline;
   background:#f1f1f1;
}
#nav li:hover ul a{
   text-decoration:none;
   background:none;
}
#nav li:hover ul a:hover{
   text-decoration:underline;
   background:#f1f1f1;
}
#nav ul a{
   white-space:nowrap;
   display:block;
   border-bottom:1px solid #ccc;
}
/** END **/
 
 
  #main {
    float:left;
    width:75%;
    padding:10px;
  }
  h2 {
    margin:0 0 1em;
  }
  #sidebar {
    float:right;
    width: 20%;
    padding:10px;
    border-left: 1px dotted gray;
  }
  #footer {
    clear:both;
    padding: 5px 10px;
    border-top: 1px dotted gray;
  }
  #footer p {
    margin:0;
  }
  * html #footer {
    height:1px;
  }


#appoList { width: 100%; border: 1px dotted green; }

#myTable {margin-top:10px;}
#appoDivForm {margin:10px 3px;}

/*
  Cusco Sky table styles
  written by Braulio Soncco http://www.buayacorp.com
*/
table, th, td {
  width: 100%;
  border: 1px solid #d4e0ee;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #555;
}

caption {
  font-size: 150%;
  font-weight: bold;
  margin: 5px;
}

td, th {
  padding: 4px;
}

thead th {
  text-align: center;
  background: #e6edf5;
  color: #4f76a3;
  font-size: 100% !important;
}

tbody th {
  font-weight: bold;
}

tbody tr { background: #FCFDFE; }

tbody tr.odd { background: #F7F9FC; }

table a:link {
  color: #718ABE;
  text-decoration: none;
}

table a:visited {
  color: #718ABE;
  text-decoration: none;
}

table a:hover {
  color: #718ABE;
  text-decoration: underline !important;
}

tfoot th, tfoot td {
  font-size: 85%;
}

#content_msg {
  display: none;
  top: 20px;
  float:center;
  background: #fff;
  border: 1px dotted orange;
}

#content_fibax {
  display: none;
  top: 20px;
  float:center;
  background: #fff;
  border: 1px dotted orange;
}

