%h1 Listing appointments

%br

#testdiv

#divaa

%div{'data-react-props' =>  @appos, 'id'=> 'divForm'}

// #divdisplay data='#{@appos}'

//= react_component 'Appointments', { data: @appos }
// '#{ a }'
//:javascript
//  ReactDOM.render(
//    <Appointments data='#{@appos}' />,
//    document.getElementById('divdisplay')
//  );
